<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	
	<body>
		<table>
			<thead>
				<th>Filename</th>
				<th>File</th>
				<th>DDL</th>
				<th>Print</th>
			</thead>
			
			<tbody>
				<tr th:each = "file : ${files}">
					<td th:text = "${file.filename}"></td>
					<td th:text = "${file.uploadFileBlob}"><</td>
					<td><a th:href="${'/downloadFile' + file.uploadFileId}">Télécharger</a></td>
					<td><a th:href="${'/downloadFilePrint' + file.uploadFileId}">(Afficher)</a></td>
					
				</tr>
			</tbody>
		</table>
	</body>
</html>