<div class="nav3col container-fixed">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <ul>
            <h2><a href="#" class="title-cat-menu">Pôles</a>
           </h2>
            <li><a href="http://localhost:3000" class="ss-cat-nav-link">Chat</a></li>
            <li><a href="/uploadFileForm" class="ss-cat-nav-link">Files Server</a></li>
            <li><a href="/usersList" class="ss-cat-nav-link">Administration</a></li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

</div>