<div class="nav3col container-fixed">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <ul>
            <h2><a href="corporate.html" class="title-cat-menu">Corporate</a>
           </h2>
            <li><a href="brandbook.html" class="ss-cat-nav-link">Charte Graphique Print</a></li>
            <li><a href="" class="ss-cat-nav-link">Charte Graphique Web</a></li>
            <li><a href="/loginDesign" class="ss-cat-nav-link">Extranet</a></li>
            <li><a href="/usersBestModelAndView" class="ss-cat-nav-link">Administration</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <ul>
            <h2><a href="#" class="title-cat-menu">Marketing</a>
           </h2>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <ul>
            <h2><a href="#" class="title-cat-menu">Presse</a>
           </h2>
            <li><a href="/subscribe" class="ss-cat-nav-link">Newsletter</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
            <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
        </ul>

    </div>

</div>