<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<div th:include="/WEB-IBF/views/fragments/style"/>
		<title>Connected</title>
	</head>
	

	<body style="">
	    <header>
			<nav class="container">
	            <div class="logo-nav">
	                <img src="img/RubisLogoV2-FullColor.png" class=""/>
	
	            </div>
	            <div class="fat-nav">
					<div class="fat-nav__wrapper ">
	                    <div class="logo-fatNav"><a href="index.html">
	                        <img src="img/RubisLogoV2-WhiteV.png" class=""/></a>
	
	                    </div>
	                    <div class="nav3col container-fixed">
	                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                            <ul>
	                                <h2><a href="corporate.html" class="title-cat-menu">Corporate</a>
	                               </h2>
	                                <li><a href="brandbook.html" class="ss-cat-nav-link">Charte Graphique Print</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Charte Graphique Web</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Kit Corporate</a></li>
	                                <li><a href="/usersBestModelAndView" class="ss-cat-nav-link">Administration</a></li>
	                            </ul>
	                        </div>
	                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                            <ul>
	                                <h2><a href="#" class="title-cat-menu">Marketing</a>
	                               </h2>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                            </ul>
	
	                        </div>
	                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                            <ul>
	                                <h2><a href="#" class="title-cat-menu">Presse</a>
	                               </h2>
	                                <li><a href="" class="ss-cat-nav-link">Newsletter</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                                <li><a href="" class="ss-cat-nav-link">Sous-cat</a></li>
	                            </ul>
	
	                        </div>
	                    </div>
	                </div>
	            </div>
			</nav>
		</header>
		<div class="vide"></div>
	</body>
</html>