<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
	
<!-- 	    <div th:include="@{/main/webapp/WEB-INF/fragments/otherStyle}"/> -->
	    <div th:include="/fragments/generalStyle"/>
	    <title>Login</title>
	    
	</head>
	

	<body style="">
	    <div class="container-fixed">
		    <div class="logo-home col-xs-4 col-offset-xs-4 col-offset-sm-4 col-sm-4 col-md-2 col-offset-md-5 col-lg-2 col-offset-lg-5"> 
		    	<img class="" src="../static/img" th:src="@{img/RubisLogo-WhiteV-220x190.png}"/>
		    </div>
	        
			<form th:action="@{/loginDesign}" method="post">
		        <div class="login-form col-xs-12 col-sm-12 col-offset-md-4 col-md-4 col-lg-4 col-offset-lg-4">
		            <h1>Identifiez vous</h1>
		            
		            <div class="form-group label-floating is-empty" style="pointer-events: auto;">
		                <label for="i5" class="control-label italic-grey">
		               	 	Votre identifiant 
		                	<input type="text" name="email" class="form-control" id="i5" style="width: 358px; pointer-events: auto; margin-left: 1px; margin-top: 0px;"/>
		                </label>
		                <span class="help-block">A qui avons nous l'honneur?</span>
		                <span class="material-input"></span>
		            </div>
		            
		            <div class="vide"></div>
		            
		            <div class="form-group label-floating is-empty">
		                <label for="i5" class="control-label italic-grey">
		                	Votre mot de passe 
		                	<input type="password" name="password" class="form-control" id="i5" style="width: 360px; pointer-events: auto;"/>
		                </label>
		                <span class="help-block">Votre code d'accès VIP</span>
		                <span class="material-input"></span>
		            </div>
		            
<!-- 		            <div><label> Remember me <input type="checkbox" name="remember-me" id="remember-me"/></label></div> -->
		            
		            <div class="call-to-submit col-xs-12 col-sm-6 col-md-6 col-lg-6">
		                <input type="submit" class="btnflatwhiteoutlined" value="Sign In"/>
		            </div>
		            <div class="mdp-forgot col-xs-12 col-sm-6 col-md-6 col-lg-6">
		                <a href="" class="italic-link">Mot de passe oublié?</a>
		            </div>
		        </div>
		        <div class="vide"></div>
	        </form>
		    </div>
		
	</body>
</html>