<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
	<head>
		<div th:include="/fragments/generalStyle"/>
		<title>Récupération de la newsletter</title>
	</head>
	
    <body>
      	<nav role="navigation">
		    <ul>
		        <li><a href="/">Home</a></li>
		    </ul>
		</nav>
      
      	<form role="form" name="form" action="" method="post">
      		<input type="submit" class="btnflatwhiteoutlined" value="Receive The Newsletter"/>
      	</form> 	
	</body>
</html>