<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<div th:include="/fragments/extranetStyle"/>
	</head>
	<body>
		
		<header>
			<div class="fat-nav">
			
			<div class="fat-nav__wrapper ">
	            <div class="logo-fatNav"><a href="index.html"></a>
	            	<img class="" src="../static/img" th:src="@{img/RubisLogoV2-WhiteV.png}"/>
				</div>
	                    
			    		<div th:include="/fragments/extranetBurgerMenu"/>
	                </div>
	            </div>
	    </header>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		
		<div>
			<form th:action="@{/uploadFileForm}" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td><label> Fichier à sauvegarder : </label></td>
						<td><input type="file" name="file"/></td>
					</tr>
					<tr><td></td><td><input type="submit" value="Upload" class="btnflatwhiteoutlined"/></td></tr>
				</table>
			</form>
		</div>
	
		<div th:if="${message}">
			<h3><label th:text="${message}"></label></h3> 
		</div>
		
		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file.href}" th:text="${file.rel}" />
				</li>
			</ul>
		</div>
	
		   
		<script src="js/jquery.bxslider.js" type="text/javascript"></script>
	
	    <script src="dist/jquery.fatNav.js"></script>
	    
	    <script>
	        (function() {
	
	            $.fatNav();
	
	        }());
	    </script>
	    <script type="text/javascript">
	        $(document).ready(function() {
	            $('.bxslider').bxSlider({
	                adaptiveHeight: true
	            });
	        });
	    </script>
	
	</body>
</html>
