<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	
		<div th:include="/fragments/generalStyle"/>

	</head>
	
	<body>
		<nav role="navigation">
		    <ul>
		        <li><a href="/">Home</a></li>
		    </ul>
		</nav>
		
		<h3>Create a new user</h3>
		
		<form role="form" name="form" action="" method="post">
		     <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			
			<div>
		        <label for="firstName">First Name</label>
		        <input type="firstName" name="firstName" id="firstName" th:value="${form.firstName}" required="required" autofocus="autofocus"/>
		    </div>
		    
		    <div>
		        <label for="lastName">Last Name</label>
		        <input type="lastName" name="lastName" id="lastName" th:value="${form.lastName}" required="required" autofocus="autofocus"/>
		    </div>
		    
		    <div>
		        <label for="email">Email address</label>
		        <input type="email" name="email" id="email" th:value="${form.email}" required="required" autofocus="autofocus"/>
		    </div>
		    
		    <div>
		        <label for="password">Password</label>
		        <input type="password" name="password" id="password" required ="required"/>
		    </div>
		    
		    <div>
		        <label for="passwordRepeated">Repeat</label>
		        <input type="password" name="passwordRepeated" id="passwordRepeated" required="required"/>
		    </div>
		    
		    <div>
		        <label for="role">Role</label>
			    	<select name="role">
		        	<option selected="selected"></option>
				        <option th:each="role : ${roles}" th:value="${role}" 
			        			th:text="${role}" th:selected="null"/>
			      	</select>
		    </div>
		    
		    <div>
		        <label for="state">State</label>
		        <select name="state"> 
		        	<option selected="selected"></option>
		        	<option th:each="state : ${states}" th:value="${state}" 
		        			th:text="${state}" th:selected="null"/>
		        </select>
		    </div>
		    
		    <input type="submit" class="btnflatwhiteoutlined" value="Submit"/>
		</form>
	
	</body>
	
	<!-- footer -->
	<div th:include="/fragments/footer"/>
</html>