<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	
		<div th:include="/fragments/style"/>

	</head>
	
	<body>
		<nav role="navigation">
		    <ul>
		        <li><a href="/">Home</a></li>
		    </ul>
		</nav>
		
		<h3>Create a new user</h3>
		
		<form role="form" name="form" action="" method="post">
		     <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			
			<div>
		        <label for="firstName">First Name</label>
		        <input type="firstName" name="firstName" id="firstName" th:value="${form.firstName}" required="required" autofocus="autofocus"/>
		    </div>
		    <div>
		        <label for="lastName">Last Name</label>
		        <input type="lastName" name="lastName" id="lastName" th:value="${form.lastName}" required="required" autofocus="autofocus"/>
		    </div>
		    <div>
		        <label for="email">Email address</label>
		        <input type="email" name="email" id="email" th:value="${form.email}" required="required" autofocus="autofocus"/>
		    </div>
		    <div>
		        <label for="password">Password</label>
		        <input type="password" name="password" id="password" required ="required"/>
		    </div>
		    <div>
		        <label for="passwordRepeated">Repeat</label>
		        <input type="password" name="passwordRepeated" id="passwordRepeated" required="required"/>
		    </div>
			<!-- The T allows us to use propagate variables (Role is this case) defined in the server. -->
			<!-- "role : " and "state : " are important for parsing, not working without -->
		    <div>
		        <label for="role">Role</label>
		        <select name="roles">
		        	<option selected="selected"></option>
		        	<option th:each="role : ${T(com.rubyExtranet.model.Role).values()}" th:value="${role}" 
		        			th:text="${role}" th:selected="null"/> 
		        </select>
		    </div>
		    <div>
		        <label for="state">State</label>
		        <select name="states"> 
		        	<option selected="selected"></option>
		        	<option th:each="state : ${T(com.rubyExtranet.model.State).values()}" th:value="${state}" 
		        			th:text="${state}"/>
		        </select>
		    </div>
		    <button type="submit">Submit</button>
		</form>
	
	</body>
</html>