@CHARSET "ISO-8859-1";

.btnflatwhiteoutlined {
 letter-spacing: 0.02em;
 background-color: rgba(0, 0, 0, 0.1);
 text-decoration: none;
 font-size: 13px;
 font-family: "lato";
 font-weight: 300;
 color: white;
 padding-left: 22px;
 padding-right: 22px;
 padding-top: 10px;
 padding-bottom: 12px;
 transition: all 0.25s linear 0s;
 border: 1px solid rgba(255, 255, 255, 1);
}
